# Local development files
.local/

# Environment variables
.env
6878e636e89d.json

# Python & cache files
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
dist/
.ruff_cache/
# secrets/

# Virtual environment
.venv/

# VScode settings
.vscode/
*.code-workspace

# MacOS files
.DS_Store

# Logs
logs/
*.log
